# fly.toml app configuration file generated for serch-tennis-fly on 2026-01-13T18:07:23+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'search-tennis'
primary_region = 'nrt'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpus = 1
  memory_mb = 256
